<template>
    <div class="adyen-card-header">
        <div class="adyen-card-header-first">
            <span v-if="dataSourceEmpty">{{ dataSourceEmptyMessage }}</span>
        </div>
        <div id="modalButtonContainer">
            <sw-button
                    :disabled="actionButtonDisabled"
                    :square="false"
                    :block="false"
                    @click="openModal"
                    class="sw-button--small">
                {{ $tc('sw-order.documentCard.labelCreateNew') }}
            </sw-button>
        </div>
        <sw-modal v-if="showModal"
                  @modal-close="onCloseModal"
                  :title="modalTitle"
                  variant="small">
            <div>
                <sw-number-field value=null type="modalAmountModel" numberType="float" allowEmpty="false" v-model="modalAmountModel" numberType="float" placeholder="Amount"
                ></sw-number-field>
            </div>
            <template #modal-footer>
                <sw-button @click="onCloseModal" size="small">
                    {{ $tc('global.default.cancel') }}
                </sw-button>

                <sw-button @click="submitModal" variant="primary" size="small" :isLoading="isLoading">
                    {{ $tc('sw-order.documentCard.labelCreateNew') }}
                </sw-button>
            </template>
        </sw-modal>
    </div>
</template>