<div>
    <sw-button-process
            :disabled="isLoading"
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="check"
    >Test Configuration</sw-button-process>
</div>
