{% block adyen_refund %}
    <sw-card :hero="false" :isLoading="isLoadingTable" :large="false" :title="$tc('adyen.adyenRefunds')" v-if="showWidget">
        <div v-if="!errorOccurred">
            <div class="adyen-card-header">
                <div class="adyen-card-header-first">
                    <span v-if="!refunds.length">{{ $tc('adyen.noRefundsCreated') }}</span>
                </div>
                <div id="modalButtonContainer">
                    <sw-button
                        :disabled="!allowRefund"
                        :square="false"
                        :block="false"
                        @click="openModal"
                        class="sw-button--small">
                        {{ $tc('sw-order.documentCard.labelCreateNew') }}
                    </sw-button>
                </div>
                <sw-modal v-if="showModal"
                        @modal-close="onCloseModal"
                        :title="$tc('adyen.createRefund')"
                        variant="small">
                    {{ $tc('adyen.refundConfirm') }}: <b>{{ order.orderNumber }}</b>
                    <template #modal-footer>
                        <sw-button @click="onCloseModal" size="small">
                            {{ $tc('global.default.cancel') }}
                        </sw-button>

                        <sw-button @click="onRefund" variant="primary" size="small" :isLoading="isLoadingRefund">
                            {{ $tc('sw-order.documentCard.labelCreateNew') }}
                        </sw-button>
                    </template>
                </sw-modal>
            </div>
            <sw-data-grid
                v-if="refunds.length"
                :dataSource="refunds"
                :columns="columns"
                :showSelection="false"
                :showActions="false"
                :isLoading="isLoadingTable">
            </sw-data-grid>
        </div>
        <div v-else>
            {{ $tc('adyen.refundFetchError') }}
        </div>
    </sw-card>
{% endblock %}
