<!--
  ~                       ######
  ~                       ######
  ~ ############    ####( ######  #####. ######  ############   ############
  ~ #############  #####( ######  #####. ######  #############  #############
  ~        ######  #####( ######  #####. ######  #####  ######  #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####          #####  ######
  ~ #############  #############  #############  #############  #####  ######
  ~  ############   ############  #############   ############  #####  ######
  ~                                      ######
  ~                               #############
  ~                               ############
  ~
  ~ Adyen Shopware plugin
  ~
  ~ @author Adyen BV <support@adyen.com>
  ~ @copyright (c) 2021 Adyen B.V.
  ~ @license https://opensource.org/licenses/MIT MIT license
  ~ This file is open source and available under the MIT license.
  ~ See the LICENSE file for more info.
  -->
<phpunit bootstrap="src/Test/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>src/Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
