{% block adyen_giftcards %}
    {% if adyenFrontendData and adyenFrontendData.giftcards %}
        <div id="adyen-giftcards-container">
            <div id="adyen-giftcards-configuration"
                 data-giftcards="{{ adyenFrontendData.giftcards|json_encode }}"
            ></div>
            <script>var adyenGiftcardsConfiguration = document.querySelector('#adyen-giftcards-configuration').dataset;</script>
            <hr>
            <h5>Select gift card</h5>
            {# loop through giftcards and mount component #}
            {% for giftcard in adyenFrontendData.giftcards %}
                <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/medium/{{ giftcard.brand }}.png" alt="{{ giftcard.name }}">
            {% endfor %}
            <div id="adyen-giftcard-component"></div>
        </div>

    {% endif %}
{% endblock %}
