{% set orderId = "1265-7358-9655" %}
{% if orderId %}
    <dl class="adyen-voucher-details" data-orderId = "{{ orderId }}">
        <div class="voucher-detail">
            <dt>Voucher reference:</dt>
            <dd class="order-item-detail-labels-value">Rok was here</dd>
        </div>
        <div class="voucher-detail">
            <dt >Expiry date:</dt>
            <dd class="order-item-detail-labels-value">{{ dump(order.orderNumber) }}</dd>
        </div>
    </dl>

    <script>
        var adyenVoucherDetails = document.querySelector('.adyen-voucher-details').dataset
    </script>
{% endif %}
