<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General Settings</title>
        <input-field type="text">
            <name>merchantAccount</name>
            <label>Merchant account</label>
            <helpText>
                Enter your merchant account identifier.
                This can be found in your Adyen Customer Area, at the top of the screen you will see [YourCompanyAccount] &gt; [YourMerchantAccount].
                Please note that the merchant account is different from the company account; a company account can have one or more merchant accounts.
                See https://docs.adyen.com/plugins/shopware-6#set-up-shopware
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>environment</name>
            <label>Live environment</label>
        </input-field>
        <component name="adyen-config-check-button">
            <name>configTest</name>
        </component>
    </card>
    <card>
        <title>Production Settings</title>
        <input-field type="password">
            <name>apiKeyLive</name>
            <label>API Key for live</label>
            <helpText>
                Enter your live API Key. This can be found in your live Customer Area &gt; Account &gt; API Credentials.
                See https://docs.adyen.com/plugins/shopware-6#set-up-api-key.
                For a test environment, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="password">
            <name>clientKeyLive</name>
            <label>Client Key for live</label>
            <helpText>
                We use your client key to authenticate requests from your payment environment.
                This can be found in your live Customer Area &gt; Account &gt; API Credentials.
                See https://docs.adyen.com/plugins/shopware-6#generate-a-client-key for more information.
                For a test environment, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>liveEndpointUrlPrefix</name>
            <label>Live endpoint URL prefix</label>
            <helpText>
                The URL prefix [random]-[company name] from your Adyen live Customer Area &gt; Account &gt; API URLs.
                For a test environment, this field can be empty.
            </helpText>
        </input-field>
    </card>
    <card>
        <title>Test Settings</title>
        <input-field type="password">
            <name>apiKeyTest</name>
            <label>API Key for test</label>
            <helpText>
                Enter your test API Key. This can be found in your test Customer Area &gt; Account &gt; API Credentials.
                See https://docs.adyen.com/plugins/shopware-6#set-up-api-key
                For a live environment, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="password">
            <name>clientKeyTest</name>
            <label>Client Key for test</label>
            <helpText>
                We use your client key to authenticate requests from your payment environment.
                This can be found in your test Customer Area &gt; Account &gt; API Credentials.
                See https://docs.adyen.com/plugins/shopware-6#generate-a-client-key for more information.
                For a live environment, this field can be empty.
            </helpText>
        </input-field>
    </card>
    <card>
        <title>Webhook Settings</title>
        <input-field type="text">
            <name>notificationUsername</name>
            <label>Username for standard webhooks</label>
            <helpText>
                This is the username for basic authentication of your live endpoints.
                Fill in from your live Adyen Customer Area &gt; Account &gt; Webhooks &gt; Edit or Add.
                See https://docs.adyen.com/plugins/shopware-6#set-up-notifications.
                For testing the plugin without notifications, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="password">
            <name>notificationPassword</name>
            <label>Password for standard webhooks</label>
            <helpText>
                This is the password for basic authentication of your live endpoints.
                Fill in from your live Adyen Customer Area &gt; Account &gt; Webhooks &gt; Edit or Add.
                See https://docs.adyen.com/plugins/shopware-6#set-up-notifications.
                For testing the plugin without notifications, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="password">
            <name>hmacTest</name>
            <label>HMAC Key for test</label>
            <helpText>
                This is used to authenticate your endpoints.
                If you want to test the webhook notifications then get your test HMAC Key from your test Adyen Customer Area &gt; Account &gt; Webhooks &gt; Edit or Add.
                See https://docs.adyen.com/plugins/shopware-6#set-up-notifications.
                For testing the plugin without notifications, this field can be empty.
            </helpText>
        </input-field>
        <input-field type="password">
            <name>hmacLive</name>
            <label>HMAC Key for live</label>
            <helpText>
                This is used to authenticate your endpoints.
                Fill in your live HMAC Key from your live Adyen Customer Area &gt; Account &gt; Webhooks &gt; Edit or Add.
                See https://docs.adyen.com/plugins/shopware-6#set-up-notifications.
                For testing the plugin without notifications, this field can be empty.
            </helpText>
        </input-field>
    </card>
    <card>
        <title>Capture Settings</title>
        <input-field type="bool">
            <name>manualCaptureEnabled</name>
            <label>Manual capture</label>
            <helpText>
                Enable this option if you want to perform the capture of funds manually later. This configuration won’t affect the capture mode of open invoice payment methods (Klarna, Afterpay Touch, Ratepay, FacilyPay/Oney, Affirm, Clearpay, Zip and PayBright).
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>autoCaptureOpenInvoice</name>
            <label>Use auto capture for open invoice payments</label>
            <helpText>
                Applicable for Klarna, Afterpay Touch, Ratepay, FacilyPay/Oney, Affirm, Clearpay, Zip and PayBright. By default, open invoice methods are set to manual capture. For auto capture, please contact support@adyen.com. After the approval, you can enable this option.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>captureOnShipmentEnabled</name>
            <label>Capture on shipment for open invoice payments</label>
            <helpText>
                A capture request will be sent to Adyen whenever you make a shipment for an open invoice payment.
            </helpText>
        </input-field>
        <component name="sw-entity-single-select-override">
            <name>orderState</name>
            <entity>state_machine_state</entity>
            <label>Order shipping state for triggering capture</label>
            <helpText>
                This is the order shipping status that needs to be fulfilled in order to make a capture request to Adyen for open invoice payments.
            </helpText>
        </component>
        <input-field type="int">
            <name>rescheduleTime</name>
            <label>Capture delay for shipment</label>
            <helpText>
                This is the time to wait before trying the next capture in seconds if the shipping state is set and not fulfilled.
            </helpText>
            <defaultValue>43200</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Adyen Giving</title>
        <input-field type="bool">
            <name>adyenGivingEnabled</name>
            <label>Enable Adyen Giving</label>
            <helpText>
                This enables Adyen Giving and offers the donation form in the order success page.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>adyenGivingCharityMerchantAccount</name>
            <label>Charity Merchant Account</label>
            <helpText>
                Adyen merchant account for the charity.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>adyenGivingCharityName</name>
            <label>Charity Name</label>
            <helpText>
                Name of the charity displayed on the Adyen Giving form.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>adyenGivingCharityDescription</name>
            <label>Charity Description</label>
            <helpText>
                Description of the charity.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>adyenGivingCharityWebsite</name>
            <label>Charity Website</label>
            <helpText>
                Link to the charity website.
            </helpText>
        </input-field>
        <input-field type="text">
            <name>adyenGivingDonationAmounts</name>
            <label>Donation Amounts</label>
            <helpText>
                Suggested amounts that the shopper can choose to donate using the order currency, separated by commas.
            </helpText>
        </input-field>
        <component name="sw-media-field">
            <name>adyenGivingCharityLogo</name>
            <label>Charity Logo</label>
            <helpText>
                Logo displayed on the Adyen Giving form.
            </helpText>
        </component>
        <component name="sw-media-field">
            <name>adyenGivingBackgroundImage</name>
            <label>Background Image</label>
            <helpText>
                Background image of the Adyen Giving form.
            </helpText>
        </component>
    </card>
    <card>
        <title>Domain URL</title>
        <input-field type="bool">
            <name>enableOverrideDefaultDomain</name>
            <label>Enabled</label>
        </input-field>
        <component name="sw-entity-single-select">
            <name>defaultDomainId</name>
            <entity>sales_channel_domain</entity>
            <labelProperty>url</labelProperty>
            <label>Select default domain URL</label>
            <helpText>
                Select the preferred domain from the list of existing domains to be used in returnUrl.
            </helpText>
        </component>
    </card>
</config>
