{% if adyenFrontendData and adyenFrontendData.action %}
    <div id="adyen-success-action-container">
        <div id="adyen-success-action-configuration"
             data-action="{{ adyenFrontendData.action }}"
        ></div>

        <div id='success-action-container'></div>

        <script>
            var adyenSuccessActionConfiguration = document.querySelector('#adyen-success-action-configuration').dataset;
        </script>
    </div>
{% endif %}
