<div id="adyen-payment-action-modal"
     class="modal adyen-payment-modal"
     tabindex="-1"
     role="dialog"
     data-adyen-payment-action-modal
>
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div data-adyen-payment-action-container>
                    <div class="adyen-payment-container loader" role="status">
                        <span class="sr-only">{{ "adyen.loading"|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
